body {
    margin: 0;
    padding: 0;
}

#headline-img {
    height: 75%;
}

#spaceship-img {
    position: absolute;
    width: 25vw;
    bottom: -8vh;
    right: 0;
}

.register-btn {
    padding: 1.25rem;
    border: none;
    outline: none;
    color: #FFF;
    background-color: rgba(234, 187, 33, 0.9);
    text-transform: uppercase;
    font-family: 'STARWARS';
    font-size: 1.5rem;
    cursor: pointer;
}

.grid-container {
    display: grid;
    margin: 0;
    justify-content: center;
    grid-template-rows: repeat(9, auto);
    grid-template-columns: repeat(3, 1fr);
}

.hero-image,
.countdown,
.map,
.footer {
    background-repeat: no-repeat;
    background-size: cover;
}

.about,
.event-detail,
.agenda,
.house-rules-title,
.judging-title,
.criteria-title,
.download {
    padding: 7vh 1vw 7vh 7.25vw;
}

.house-rules-detail,
.house-rules-more-detail,
.judging-detail,
.criteria-detail {
    padding: 7vh 3.6vw 0 0;
}

.agenda,
.location {
    background-color: #262626;
    background-size: cover;
}

.hero-image {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    height: 85vh;
    background-image: url("../images/hackathon-background.png");
    background-position: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero-image button {
    display: block;
    margin: 2rem auto 0;
}

.about {
    grid-column: 1 / 3;
    grid-row: 2 / 2;
    height: auto;
}

.event-detail {
    grid-column: 3 / 4;
    grid-row: 2 / 2;
}

.event-detail div {
    margin-bottom: 3rem;
}

.agenda {
    grid-column: 1 / 2;
    grid-row: 3 / 3;
    color: #FFF;
    height: auto;
}

.agenda div {
    margin-bottom: 5rem;
}

.countdown {
    grid-column: 2 / 4;
    grid-row: 3 / 3;
    background-image: url(../images/hackathon-background.png);
    background-position: center;
    padding-top: 7vh;
    text-align: center;
}

.house-rules-title {
   grid-column: 1 / 2;
   grid-row: 4 / 4;
}

.house-rules-detail {
    grid-column: 2 / 3;
    grid-row: 4 / 4;
}
  
.house-rules-more-detail {
    grid-column: 3 / 4;
    grid-row: 4 / 4;
}

.judging-title {
    grid-column: 1 / 1;
    grid-row: 5 / 5;
}

.judging-detail {
    grid-column: 2 / 4;
    grid-row: 5 / 5;
}

.criteria-title {
    grid-column: 1 / 1;
    grid-row: 6 / 6;
}

.criteria-detail {
    grid-column: 2 / 4;
    grid-row: 6 / 6;
    display: flex;
    margin-bottom: 3rem;
}

.criteria-detail div {
    width: 30%;
}

.map {
    grid-column: 1 / 3;
    grid-row: 7;
    background-image: url("../images/map.png");
}

.location {
    grid-column: 3 / 4;
    grid-row: 7;
    padding: 70px 40px;
    color: #FFF;
}

.download {
    grid-column: 1 / 4;
    grid-row: 8;
    text-align: center;
}

.download a {
    display: inline-block;
    height: 25vh;
    width: 30vw;
    max-width: 225px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    text-decoration: none;
}

#purple-poster-link {
    background-image: url("../images/hackathon-poster-purple.png");
}

#blue-poster-link {
    background-image: url("../images/hackathon-poster-blue.png");
}

.footer {
    grid-column: 1 / 4;
    grid-row: 9;
    background-image: url(../images/hackathon-background.png);
    background-position: bottom;
    text-align: center;
    padding: 1.5rem 0;
}

@media only screen and (max-width: 1200px) {
    #spaceship-img {
        display: none;
    }

    .hero-image {
        height: 55vh;
    }

    .hero-image button {
        font-size: 1rem;
        padding: 1rem;
        margin: 1rem auto 0;
    }
}

@media only screen and (max-height: 575px) {
    .hero-image button {
        font-size: 1rem;
        padding: 1rem;
        margin: 1rem auto 0;
    }
}