body {
    margin: 0;
    padding: 0;
}

#spaceship-img {
    position: absolute;
    height: 53vh;
    bottom: 3vh;
    right: -5vw;
}

.register-btn {
    padding: 1.25rem;
    border: none;
    color: #FFF;
    background-color: rgba(234, 187, 33, 0.9);
    text-transform: uppercase;
    font-family: 'STARWARS';
    font-size: 1.5rem;
    cursor: pointer;
}

.grid-container {
    display: grid;
    margin: 0;
    justify-content: center;
    grid-template-rows: repeat(9, auto);
    grid-template-columns: repeat(3, 1fr);
}

.grid-item1,
.grid-item5,
.grid-item13,
.grid-item16 {
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-item2,
.grid-item3,
.grid-item4,
.grid-item6,
.grid-item9,
.grid-item11 {
    padding: 70px 20px 70px 140px;
}

.grid-item7,
.grid-item8,
.grid-item10,
.grid-item12 {
    padding: 70px 70px 0 0;
}

.grid-item5,
.grid-item15 {
    padding-top: 70px;
    text-align: center;
}

.grid-item4,
.grid-item14 {
    background-color: #262626;
    background-size: cover;
}

.grid-item1 {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    height: 85vh;
    background-image: url("../images/hackathon-header.png");
    background-position: center;
    justify-content: center;
}

.grid-item1 button {
    display: block;
    margin: 73vh auto;
}

.grid-item2 {
    grid-column: 1 / 3;
    grid-row: 2 / 2;
    height: auto;
}

.grid-item3 {
    grid-column: 3 / 4;
    grid-row: 2 / 2;
    height: 25vh;
}

.grid-item3 div {
    margin-bottom: 3rem;
}

.grid-item4 {
    grid-column: 1 / 2;
    grid-row: 3 / 3;
    color: #FFF;
    height: auto;
}

.grid-item4 div {
    margin-bottom: 5rem;
}

.grid-item5 {
    grid-column: 2 / 4;
    grid-row: 3 / 3;
    background-image: url(../images/hackathon-background.png);
    background-position: center;
}

.grid-item6 {
   grid-column: 1 / 2;
   grid-row: 4 / 4;
}

.grid-item7 {
    grid-column: 2 / 3;
    grid-row: 4 / 4;
}
  
.grid-item8 {
    grid-column: 3 / 4;
    grid-row: 4 / 4;
}

.grid-item9 {
    grid-column: 1 / 1;
    grid-row: 5 / 5;
}

.grid-item10 {
    grid-column: 2 / 4;
    grid-row: 5 / 5;
}

.grid-item11 {
    grid-column: 1 / 1;
    grid-row: 6 / 6;
}

.grid-item12 {
    grid-column: 2 / 4;
    grid-row: 6 / 6;
    display: flex;
    margin-bottom: 3rem;
}

.grid-item12 div {
    width: 30%;
}

.grid-item13 {
    grid-column: 1 / 3;
    grid-row: 7;
    background-image: url("../images/map.png");
}

.grid-item14 {
    grid-column: 3 / 4;
    grid-row: 7;
    padding: 70px 40px;
    color: #FFF;
}

.grid-item15 {
    grid-column: 1 / 4;
    grid-row: 8;
}

.grid-item15 img {
    height: 20vh;
}

.grid-item16 {
    grid-column: 1 / 4;
    grid-row: 9;
    background-image: url(../images/hackathon-background.png);
    background-position: bottom;
    text-align: center;
    padding: 1.5rem 0;
}