@font-face {
    font-family:"STARWARS";
    src:url("../fonts/STARWARS.eot") format("eot"),url("../fonts/STARWARS.woff") format("woff");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Ford Antenna';
    src: url('../fonts/FordAntenna-Regular.eot') format("eot"),url('../fonts/FordAntenna-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ford Heavy';
    src: url('Ford-HeavyExt.eot'),url('Ford-HeavyExt.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

h1 {
    text-transform: uppercase;
    font-family: 'STARWARS';
    font-size: 3rem;
    color: white;
}

h2 {
    text-transform: uppercase;
    font-family: 'Ford Heavy', Arial, Helvetica;
    color: #262626;
    font-size: 1.75rem;
    line-height: 35px;
}

h3 {
    text-transform: uppercase;
    font-family: 'STARWARS';
    font-size: 1.25rem;
    color: #F7C044;
}

p, li, aside {
    font-family: 'Ford Antenna';
    font-size: 1.2rem;
    line-height: 30px;
}

p {
    color: #4d4d4d;
}

li {
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.event-detail-header {
    margin-bottom: 0;
    padding: 0;
}

.agenda-header,
.location-text {
    color: #FFF;
}

#timer {
    font-size: 7rem;
    letter-spacing: 0.5rem;
    line-height: 8rem;
    margin-top: 2vh;
}

#hacker-text {
    font-family: 'Courier New', Courier, monospace
}

#made-with-love {
    color: #F7C044;
    margin-top: 1.5rem;
    font-size: 1rem;
}